#box {
  width: 200px;
  height: 60px;
  padding-top: 14px;
  font-size: 19px;
  color: #ffffff;
  vertical-align: middle;
  line-height: 8px;
  text-align: center;
  vertical-align: middle;}

#sbox {
  width: 80px;
  height: 80px;
  padding: 1px;
  font-size: 19px;
  color: #ffffff;
  vertical-align: middle;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;}


#lbox {
  width: 240px;
  height: 60px;
  padding-top: 14px;
  font-size: 19px;
  color: #ffffff;
  vertical-align: middle;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;}

.year {
  position: relative;
  left: 695px;
  bottom: 655px;}

.cond {
  position: relative;
  left: 1200px;
  bottom: 708px;}

.bed {
  position: relative;
  left: 430px;
  bottom: 675px;}

.f2 {
  position: relative;
  left: 675px;
  bottom: 735px;}

.fbath {
  position: relative;
  left: 950px;
  bottom: 795px;}

.garea {
  position: relative;
  left: 1376px;
  bottom: 855px;}

.car {
  position: relative;
  left: 1396px;
  bottom: 828px;}

.f1 {
  position: relative;
  left: 436px;
  bottom: 760px;}

.hbath {
  position: relative;
  left: 850px;
  bottom: 820px;}

.ktch {
  position: relative;
  left: 975px;
  bottom: 900px;}

.lot {
  position: relative;
  left: 675px;
  bottom: 725px;}

.submit {
  position: relative;
  left: 1396px;
  bottom: 915px;} 

.reset {
  position: relative;
  left: 1396px;
  bottom: 860px;} 

.main-svg {
    background-color: transparent !important;
}  


.shadow
{
    color: white;
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    8px 8px 0 #000;  
} 